config.json
app.log
utils/__pycache__/
.idea
*terraform.tfvars*
*.terraform*
*.terraform.lock.hcl*
*terraform.tfstate*
*terraform.tfstate.backup*
layer*
lambda*
meetings_api.zip
venv
test_lambda.json